<nav>
    <div class="site-title">
        <a href="/">
            <h1>Kareem plog</h1>
        </a>
        <b>the one and only legit plog</b>
    </div>
    <div>
        <ul>
            <li><a href="/">blogs</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blogs/create">New Blog</a></li>
        </ul>
    </div>
</nav>